/* App.css */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  padding: 20px;
  color: white;
position: sticky;
}

.compilerContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: -2.5%;
}

.compilerMainBox, .editor {
  flex: 1;
  display: flex;
}

.ideMainBox {
  display: flex;
}

.compilerMainBox {
  flex: 1;
  background-color: #111726;
  padding: 20px;
  box-sizing: border-box;
  margin:1%;
  width: 49vw;
  color: #616367;
}
